<footer class="footer">
  <div class="container blue-wave">
    <div class="">
      <div class="footer-content">
        <div class="google-play">
          <a
            href="https://play.google.com/store/apps/details?id=com.mobowl.jfruitpunch.aos"
            target="_blank"
          >
            <img src="./img/play-market.png" alt="google-play-logo" />
          </a>
        </div>
        <div class="footer-text">
          <div class="privacy-term">
            <a href="../privacy-policy.html">Privacy Policy</a>
            <a href="../terms-conditions.html">Terms and Conditions</a>
          </div>

          <div>
            <p class="all-rights">
              All rights reserved questgameadventure.com 2024
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
