<footer class="footer">
  <div class="container blue-wave">
    <div class="footer-content">
      <div class="google-play">
        <a
          href="https://play.google.com/store/apps/details?id=com.mobowl.jfruitpunch.aos"
          target="_blank"
        >
          <picture>
            <source
              srcset="/img/play-market.png 1x, /img/play-market@2x.png 2x"
              type="image/png"
            />
            <img src="./img/play-market.png" alt="google-play-logo" />
          </picture>
        </a>
      </div>
      <div class="footer-text">
        <div class="privacy-term">
          <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
          <a href="terms-conditions.html" target="_blank"
            >Terms and Conditions</a
          >
        </div>

        <div>
          <p class="all-rights">
            All rights reserved questgameadventure.com 2024
          </p>
        </div>
      </div>
      <div class="footer-girl">
        <picture>
          <source
            srcset="
              /img/footer/footer_girl.png 1x,
              /img/footer/footer_girl.png 2x
            "
            type="image/png"
          />
          <img
            width="125"
            height="144"
            src="./img/footer/footer_girl.png"
            alt="footer-girl"
          />
        </picture>
      </div>
    </div>
  </div>
</footer>
