<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="heder-logo-link" href="index.html">
        <img class="header-logo" src="" alt="logo" width="44" height="44" />
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="header-mobile-menu-btn" type="button">
      <svg class="header-mobile-menu-icon" width="40" height="40">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>