<section class="hero section">
  <div class="hero-container container">
    <div class="hero-bg"></div>

    <h1 class="visually-hidden">Fruit Quest</h1>

    <div class="text-wrapper">
      <picture>
        <source media="(min-width: 1200px)" srcset="./img/hero/hero_title_desktop.png 1x,
        ./img/hero/hero_title_desktop@2x.png 2x
      " type="image/png" />
        <source media="(min-width: 320px)" srcset="
        ./img/hero/hero_title_mob.png 1x,
        ./img/hero/hero_title_mob@2x.png 2x
      " type="image/png" />
        <img class="hero-title-img" src="./img/hero/hero_title_mob.png" alt="Fruit Quest" loading="lazy" />
      </picture>

      <p class="hero-text">Embark on a Fruity Adventure, Solve Puzzles, and Collect Delicious Rewards!</p>
    </div>

    <div class="img-wrapper">
      <picture>
        <source srcset="./img/hero/hero1.png 1x,
              ./img/hero/hero1@2x.png 2x
            " type="image/png" />
        <img class="hero-picture" src="./img/hero/hero1.png" alt="game picture" loading="lazy" />
      </picture>

      <a class="hero-google-play" href="https://play.google.com/store/apps/details?id=com.mobowl.jfruitpunch.aos"
        target="_blank">
        <picture>
          <source srcset="
                      ./img/play-market.png 1x,
                      ./img/play-market@2x.png 2x
                    " type="image/png" />
          <img src="./img/play-market.png" alt="google-play-logo" />
        </picture>
      </a>
    </div>
  </div>
</section>