<section class="reviews" id="reviews">
  <div class="container review-purple-wave">
    <h2 class="review-title">Reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper reviews-card">
        <div class="swiper-slide">
          <div class="review-bg">
            <h3 class="review-name-card">DailyQuestPlayer</h3>
            <p class="review-text-card">
              ``Perfect game for relaxing yet challenging puzzle fun. I can't
              stop playing!``
            </p>
          </div>
        </div>
        <div class="review-bg swiper-slide">
          <h3 class="review-name-card">AdventureSeeker</h3>
          <p class="review-text-card">
            ``A refreshing twist on puzzle games. The world-building and puzzles
            keep me coming back for more!``
          </p>
        </div>
        <div class="review-bg swiper-slide">
          <h3 class="review-name-card">TropicalExplorer</h3>
          <p class="review-text-card">
            ``Great mix of challenging puzzles and adventure. The fruit designs
            are so cute!``
          </p>
        </div>
        <div class="review-bg swiper-slide">
          <h3 class="review-name-card">FruitFan</h3>
          <p class="review-text-card">
            ``I love how creative the puzzles are, and the game is really
            relaxing to play. Definitely a must-try!``
          </p>
        </div>
        <div class="review-bg swiper-slide">
          <h3 class="review-name-card">PuzzleLover</h3>
          <p class="review-text-card">
            ``Such a fun game! The puzzles are engaging, and the fruit-themed
            world is so vibrant and beautiful!``
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
