<section class="video-gallery" id="video">
  <div class="container video-block">
    <div class="video-container">
      <video id="myVideo" controls>
        <source
          src="https://play-games.googleusercontent.com/vp/mp4/1280x720/i6tWoKWdSt4.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>

<!-- poster: задає зображення для попереднього перегляду, яке буде показуватися до того, як відео почне відтворюватися.

html
Копіювати код
<video width="600" poster="thumbnail.jpg">
  <source src="video.mp4" type="video/mp4">
</video> -->
