.blue-wave {
  background-image: url(../img/footer/blue_wave_mob.png);
  background-size: 320px 288px;
}
@media (min-resolution: 192dpi) {
  .blue-wave {
    background-image: url(../img/footer/blue_wave_mob@2x.png);
  }
}
.footer-content {
  padding-top: 76px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}
.privacy-term {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  text-align: center;
  gap: 16px;
  margin-bottom: 8px;
}
.all-rights {
  font-size: 12px;
  text-align: center;
}
.footer-text {
  display: flex;
  flex-direction: column;
}
.google-play {
  padding: 8px 60px;
  border: 1.5px solid #43007a;
  border-radius: 12px;
  width: 289px;
  height: 62px;
  box-shadow: 3px 3px 5px 0 rgba(54, 2, 98, 0.27);
  background: #fff;
}
.google-play:hover {
  border: 1.5px solid #cc9df2;
  background: #f9e3fd;
  box-shadow: none;
}
.footer-girl {
  position: absolute;
  right: -18px;
  top: -110px;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .blue-wave {
    background-image: url(../img/footer/blue_wave.png);
    background-repeat: no-repeat;
    background-size: 1200px 138px;
  }
  .footer-text {
    gap: 35px;
    flex-direction: row-reverse;
  }
  .privacy-term {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 0;
  }
  .footer-content {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 27px;
    padding-top: 44px;
    padding-bottom: 32px;
  }
  .footer-girl {
    right: -18px;
    top: -75px;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .blue-wave {
    background-image: url(../img/footer/blue_wave@2x.png);
  }
}
