.privacy-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 24px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 3px 0 rgba(54, 2, 98, 0.27);
}

.privacy-text {
  color: #141414;
}

.privacy-text p {
  text-indent: 20px;
}

.privacy-text h2 {
  font-weight: 500;
  font-size: 18px;
}
.privacy-text ul {
  margin-left: 20px;

  list-style: disc;
}
.privacy-text a {
  color: #485fc7;
  text-decoration: underline;
}
