.review-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  text-shadow: 2px 2px 3px 0 rgba(54, 2, 98, 0.27);
}
.review-purple-wave {
  background-image: url(../img/reviews/purple_wave_mob.png);
  background-size: 320px 109px;
  background-repeat: no-repeat;
}

.review-bg {
  margin-top: 35px;
  background-image: url(../img/reviews/reviews_mob.png);
  background-repeat: no-repeat;
  background-size: 288px 184px;
}
@media (min-resolution: 192dpi) {
  .review-purple-wave {
    background-image: url(../img/reviews/purple_wave_mob@2x.png);
  }
  .review-bg {
    background-image: url(../img/reviews/reviews_mob@2x.png);
  }
}

.review-name-card {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 24px;
  background: linear-gradient(180deg, #903f19 0%, #2a1207 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 9px;
}
.review-text-card {
  font-weight: 500;
  width: 242px;
  height: 84px;
  padding: 25px 20px 30px 25px;
}
.reviews-card {
  margin-bottom: 38px;
}
@media screen and (min-width: 1200px) {
  .review-title {
    font-size: 52px;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 86px;
  }
  .review-purple-wave {
    background-image: url(../img/reviews/purple_wave.png);
    background-size: 1200px 153px;
    background-repeat: no-repeat;
    padding: 0;
  }

  .review-bg {
    margin-top: 64px;
    background-image: url(../img/reviews/reviews_desktop.png);
    background-size: 401px 230px;
    background-repeat: no-repeat;
  }
  .reviews-card {
    margin-bottom: 30px;
  }
  .review-name-card {
    font-size: 36px;
    padding: 12px 40px 10px 40px;

    width: 318px;
  }
  .review-text-card {
    font-size: 16px;

    width: 307px;
    height: 72px;
    padding: 30px 35px 60px 45px;
  }
  .swiper-slide {
    opacity: 0.8;
  }
  .swiper-slide-active {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .review-purple-wave {
    background-image: url(../img/reviews/purple_wave@2x.png);
  }
  .review-bg {
    background-image: url(../img/reviews/reviews_desktop@2x.png);
  }
}
.swiper-pagination-bullet {
  background-color: #d2bfe1 !important; /* Колір для неактивних крапок */
  opacity: 1 !important;
}

/* Задаємо колір для активної крапки */
.swiper-pagination-bullet-active {
  background-color: #43007a !important; /* Колір для активної крапки */
  width: 32px !important;
  height: 12px !important;
  border-radius: 11px !important;
  box-shadow: 0 1px 4px 0 rgba(67, 0, 122, 0.59) !important;
}
