video {
  width: 290px;
  height: 392px;
  object-fit: cover;
  border-radius: 12px;
}
.video-block {
  margin-top: 100px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  video {
    width: 1028px;
    height: 392px;
    object-fit: cover;
    border-radius: 12px;
  }
}
